html {
    font-size: 10px;
    font-family: monospace;
}

main {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#calculator {
    background-color: rgb(22, 50, 63);
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.display-container {
    /* border: 5px solid red; */
    background-color: white;
    margin: 10px 0 25px 0;
    padding: 10px;
    width: 100%;
    border-radius: 5PX;
    /* height: 50px; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.buttons-container { 
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
   
}

#input-history {
    /* border: 1px solid red; */
    width: 100%;
    text-align: right;
    height: 5px;
    font-size: 1.25rem;
    margin: 0;
    padding: 0px 0px 20px 0px;
    color: hsl(0, 0%, 44%);
}

#display {
    /* border: 1px solid red; */
    text-align: right;
    font-size: 4rem;
    width: 100%;
    padding: 0;
    margin: 5px 0 0 0;
    font-family: monospace;
}

.row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    width: 20px;
    height: 20px;
    padding: 25px;
    /* margin: 0 10px; */
    border: 2px solid #cfcfcf;
    border-radius: 5px;
    text-align: center;
    font-family: monospace;
    background-color: hsl(342, 91%, 69%);
    font-size: 2rem;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: hsl(342, 91%, 75%);
}

button:active {
    background-color: hsl(342, 91%, 80%);
}

.symbol-btn {
    background-color: hsl(290, 100%, 69%);
    color: white;
}

.symbol-btn:hover {
    background-color: hsl(276, 100%, 80%);
}

.symbol-btn:active {
    background-color: hsl(276, 100%, 85%);
}

#equal-btn {
    background-color: hsl(22, 98%, 62%);
}

#equal-btn:hover {
    background-color:hsl(22, 100%, 75%);
}

#equal-btn:active {
    background-color: hsl(22, 100%, 80%);
}